@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,600;0,900;1,100&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    color: rgba(0, 0, 0, .5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    margin-top: 5%;
    background: linear-gradient(to right, red, yellow);
}

h1 {
    font: 300 3rem 'Poppins', sans-serif;
    text-align: center;
    width: 100vw;
}

h2 {
    font: 200 2rem 'Poppins', sans-serif;
    letter-spacing: normal;

}

h3 {
    font: 600 1em 'Poppins', sans-serif;
    letter-spacing: normal;
    text-transform: none;

}

button {
    margin-top: 15vh;
    font: 200 1.4rem 'Poppins', sans-serif;
    text-transform: uppercase;
    border: 3px solid rgba(0, 0, 0);
    border-radius: 0.5rem;
    cursor: pointer;
}